.body{
  max-width: 1200px;
}
.rectangle{
  position:absolute;
  top:35%;
  right:38%;
  height: 100px;
  width: 300px;
  margin-bottom: 10px;
}

.marginTop{
  margin-top: 20px;
}

.header{
  padding-top: 10px;
  width:100%;
  background-color:gray;
  height:50px;
  padding-bottom: 10px;
}

.bordereau{
  margin-top:30px;
  max-width: 100%
}

a {
  color: #FFFF !important
 }

.col
{
 border-width: 5px;
 border: solid;

}


element.style {
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}

#bigModal{

  max-width: 90% !important
}
